body, html{
    margin: 0 auto;
    background-color: white;
    height: 100%;
}
.inicio{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.musica_fondo{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
}
.etiqueta_picture{
    width: min-content;
    margin: 0 auto;
    padding: 0;
}
header{
    background-color: #f7f7f7;
    width: 100%;
}
.main{
    max-width: 1100px;
    margin: 0 auto;
}
.inicio header, div.main, .inicio footer{
    flex-grow: 0;
}
.sobrante{
    flex-grow: 2;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    justify-items: center;
    margin-bottom: 3em;
    gap: 1em;
}
.container video, .container iframe{
    width: 450px;
    height: 100%;
}
footer{
    width: 100%;
    height: 150px;
}

/* ANIMACIÓN EN EL FOOTER: OLAS */

footer div{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url("images/ola.svg");  
}
/*MEDIANTE LA FORMA ABREVIADA DEFINIMOS OTRAS PROPIEDADES COMO:
    animation-timing-function, animation-delay, animation-iteration-count, animation-direction*/
footer .ola1{
    animation: animacion_ola1 3s linear infinite reverse;
    z-index: 100;
    opacity: 1;
}
footer .ola2{
    animation: animacion_ola2 3s linear -5s infinite reverse;
    z-index: 99;
    opacity: 0.5;
}
footer .ola3{
    animation: animacion_ola1 5s linear -2s infinite reverse;
    z-index: 98;
    opacity: 0.2;
}
footer .ola4{
    animation: animacion_ola2 2s linear -5s infinite reverse;
    z-index: 97;
    opacity: 0.7;
}

@keyframes animacion_ola1 {
    0%{background-position-x: 0px;}
    50%{height: 150px;}
    100%{background-position-x: 1600px;
        height: 100px;}
}
@keyframes animacion_ola2 {
    0%{background-position-x: 0px;}
    50%{height: 150px;}
    100%{background-position-x: -1600px;
        height: 100px;}
}

/*TRANSICIONES: fondo, imagen, texto*/

.area_transicion{
    position: relative;
    width: 700px;
    height: 300px;
    left: calc(50% - 350px);
    transition: all 0.5s;
    background-color: #fcfcfc;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}
/*TRANSICION -> FONDO CIRCULO*/
.area_transicion .circulo{
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    background-color: #ffffff;
    transition: all 0.5s;
    box-shadow: 0px 0px 15px 0px #000000;
    border-radius: 100%;
}
.area_transicion:hover .circulo{
    background-color: #f7f7f7;
    border-radius: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
/*TRANSICION -> IMAGEN*/
.area_transicion img{
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    transition: all 0.5s;
    transition-timing-function: linear; /*propiedad "extra" 1 */ 
}
.area_transicion:hover img{
    top: 10%;
    left: calc(75%);
    transform: scale(1.5);
}
/*TRANSICION -> TEXTO*/
.area_transicion .texto{
    position: relative;
    color: #53565a;
    left: 50%;
    width: 60%;
    padding: 20px 20px 20px 40px;
    transition: all 0.5s;
    transition-delay: 0.3s; /*propiedad "extra" 2 */
    opacity: 0;
    visibility: hidden;
}
.area_transicion:hover .texto{
    left: 0;
    opacity: 1;
    visibility: visible;
}










