 body{
     margin-left: 25px;
 }
h1{
    border: 3px solid blue;
    padding: 0.4em;
}

h2{
    border: 3px solid gray;
    padding-left: 0.5em;
}

ul{
    border: 3px solid rgb(62, 241, 8);
}